@media screen and (min-width: 900px) {
    body {
        /* border: 1px red dashed; */
        font-family:Arial, Helvetica, sans-serif;
        margin: auto;
        width: 70%;
    }   
}

@media screen and (max-width: 900px) {
    body {
        /* border: 1px red dashed; */
        font-family:Arial, Helvetica, sans-serif;
        margin: auto;
        width: 100%;
    }   
}

#header-nav {
    /* border: 1px rgb(0, 225, 255) solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em 0 1em;
}

header {
    /* border: 1px red solid; */
}

nav {
    /* border: 1px blue solid; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
    font-size: 1.1em;
    padding-inline-start: 0;
}

main {
    /* border: 1px red solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
}

aside {
    /* border: 1px red solid; */
    /* padding: 1em; */
    flex: 1;
}

aside img {
    clip-path: circle();
}

#main-text-container {
    /* border: 1px red solid; */
    padding: 1em;
    flex: 2;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    border-bottom: 1px darkgray solid;

}