:root {
    --text-primary: #303030;
}

@media screen and (min-width: 900px) {
    body {
        /* border: 1px red dashed; */
        font-family:Arial, Helvetica, sans-serif;
        margin: auto;
        width: 70%;
        color: var(--text-primary);
    }   
}

@media screen and (max-width: 900px) {
    body {
        /* border: 1px red dashed; */
        font-family:Arial, Helvetica, sans-serif;
        margin: auto;
        width: 100%;
        color: var(--text-primary);
    }   
}

#header-nav {
    /* border: 1px rgb(0, 225, 255) solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em 0 1em;
}

nav {
    /* border: 1px blue solid; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
    font-size: 1.1em;
    padding-inline-start: 0;
}

main {
    padding: 1em;
}

.home-container {
    /* border: 1px red solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

aside {
    /* border: 1px red solid; */
    /* padding: 1em; */
    flex: 1;
}

aside img {
    clip-path: circle();
}

#home-text-container {
    /* border: 1px red solid; */
    padding: 1em;
    flex: 2;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    border-bottom: 1px darkgray solid;

}

.teaching-container {
    border: 1px seagreen solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.teaching-container p:first-of-type { 
    border: 1px blue solid;
    flex: 1
} 

.teaching-container p:nth-of-type(2) {
    border: 1px greenyellow solid;
    flex: 5;
}